// Responsive
// -----------------------

/* Desctop First */
@mixin max1400 {
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin max1200 {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin max992 {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin max768 {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin max576 {
    @media (max-width: 576px) {
        @content;
    }
}

/* Mobile First */
@mixin min576 {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin min768 {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin min992 {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin min1200 {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin min1400 {
    @media (min-width: 1400px) {
        @content;
    }
}

// Custom
// ----------------

@mixin line {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  background-color: $accent;
  border-radius: 50px;
  margin: 15px auto 35px;
}

@mixin dark-bg-layer($bg) {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: $bg;
}