:root {
  font-size: calc(0.5em + 1vw);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::before, &::after {
      box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  min-width: 280px;

  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: $black;

  overflow-x: hidden;
  opacity: 1;
  scroll-behavior: smooth;
}

.text-center {
  text-align: center;
}

.container {
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: $wrap;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: 100%;
}

.section {
  &__title {
    font-family: Kurale;
    font-size: 2.1em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    &::after {
      @include line;
    }
  }

  &__image {
    width: 50%;
    max-width: 475px;
    position: relative;
  }

  &-img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
  }
}

p {
  margin-bottom: 35px;
}

.circle {
  width: 250px;
  height: 250px;
  border: 20px solid $accent;
  border-radius: 50%;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.50);
  position: absolute;
  top: 50%;
}